<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>iKnow Systems</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript.js"></script>
</head>
<body>
    <h1 style="text-align: center;">iKnow Systems Knowledge Database</h1>
    <h2 th:align="center">Add new person</h2>
    <div style="padding-top: 20px;"></div>
    <form id="add_form" class="row">
        <div class="col-md-4"></div>
        <!-- FORM FIELDS -->
        <div class="col-md-4">
            <!-- EMAIL FIELD -->
            <div class="form-group">
                <label for="email">E-Mail Address</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-envelope" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="max.mustermann@mail.com" aria-describedby="basic-addon1" id="email" />
                </div>
            </div>
            <!-- END EMAIL FIELD -->
            <br />
            <!-- BIO FIELD -->
            <div class="form-group">
                <label for="bio">Biography</label>
                <textarea class="form-control" rows="5" id="bio" style="resize: vertical"></textarea>
            </div>
            <!-- END BIO FIELD -->
            <br />
            <!-- SUBMIT & CANCEL BUTTON -->
            <div class="row">
                <div class="col-md-3"></div>
                <a href="/page=1"><button class="btn btn-danger col-md-3" style="margin-left: 10px; display: block"
                                          th:onclick="'return toMainPage();'">Cancel</button></a>
                <button class="btn btn-success col-md-3" style="margin-left: 10px;"
                        onclick="return saveNew($('#email').val(), $('#bio').val());">Save Person</button>
                <div class="col-md-3"></div>
            </div>
            <!-- END SUBMIT & CANCEL BUTTON -->
        </div>
        <!-- END FORM FIELDS -->
        <div class="col-md-4"></div>
    </form>
</body>
</html>